<h2>Welcom to Pizza Shop!</h2>

<div class="row">

<% @products.each do |p| %>

	<div class="col-md-3">
		
		<div>
			<%= p.title %>
		</div>
		
		<div>
			<img src="<%= p.path_to_image %>" />
		</div>

		<div>
			<%= p.description %>
		</div>

		<div>
			<%= p.size %>
		</div>

		<div>
			<%= p.price %>
		</div>

		<br/>
		<div>
			<button type="submit" class="btn btn-success btn-sm" onclick="alert(add_to_cart(<%= p.id %>))">Add to cart</button>
		</div>


 	</div>
<% end %>

</div>

<br/>
<br/>

<button type="submit" class="btn btn-primary" onclick="something()">Primary</button>

<script type="text/javascript">
	$(function() {
		update_orders_input();
	})
</script>